<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages from <%= message[0].username %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <a href="/" class="back-link">← Back</a>

        <div class="detail-header">
            <div class="avatar"><%= message[0].username[0].toUpperCase() %></div>
            <div>
                <h1><%= message[0].username %></h1>
                <p class="message-count"><%= message.length %> message<%= message.length !== 1 ? 's' : '' %></p>
            </div>
        </div>

        <div class="messages-list">
            <% message.forEach(msg => { %>
                <div class="message-card">
                    <p class="message-text"><%= msg.text %></p>
                    <time class="message-time"><%= msg.added %></time>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>